.curriculo{
    background-color: darkgray;
}

.foto_cv{
    width: 250px;    
}

.nome{
    font-weight: bolder;
    font-style: normal;
    text-align: center;
    text-shadow: black;
    text-justify: auto;
    margin-left: 10px;
}

.objetivo{
    font-size: 1.25rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: black;
    text-justify: auto;
    margin-left: 10px;
    margin-top: 30px;
}

.img_tel_email{
    width: 50px;
}

.tel_email ul li{
    display: inline-block;    
    list-style: none;
    float: right;    
    margin-left: 15px;
}