body{ background-color: white;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 10px;        
}

p{
    font-family: Verdana;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

header{ font-size: small;
    font-style: italic;
    font-size: 14px;
}

h2{background-color: rgb(104, 101, 101);
    color: white;}

footer{ margin-bottom: 10px;    
        background-color: lightgrey;        
    }

.capa{background-color: lightgrey;
}

.div_contato{
    align-content: center;
    text-align: center;
}

.div_midias{
    align-content: center;
    text-align: center;
}

.img_bio{margin-bottom: 20px;
    width: 200px;

}

.img_capa{ max-width: 100%;
    height: auto;
    padding-top: 16px;
}

.img_comunidades{
    width: 300px;
}

.img_contato{ width: 32px;  
}

.img_midias{width: 50px;
}

.p_contato{font-size: 14px;
    text-align: center;
}

.p_footer{text-align: center;
}

.p_midias{text-align: center;
}



