
body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
    color: black;
    font-family: Calibri;
    font-size: 150%;
    font-weight: 200;
    line-height: 1.65rem;
}

nav.navbar {
    background-color: #0d142e;
    padding: 1px 0;
}

.menu-principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

.menu-principal-item {
    text-decoration: none;
    color: white;
}

a.menu-principal-item:hover {
    color: yellow;
    font-size: 160%;
    font-weight: 600;
}

header {
    padding-bottom: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.branding {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #0d142e;
    text-decoration: none;
}

#logo {
    border-radius: 50%;
    border: 0;
}


h1.marca {
    padding-left: 25px;
}

.social {
    display: flex;
    align-items: center;
}

.icon-social {
    padding-left: 10px;
}

.capa {
    background-color: #0d142e;
}

.img-capa {
    width: 100%;
}

footer {
    color: white;
    text-align: center;
    padding: 8px 0;
}

.rodape {
    background-color: #0d142e;
}

#wrapper {
    margin: 10px 30px;
}



