article {
    display: flex;
    width: 100%;
}

.info {
    width: 50%;
    background-color: rgb(221, 221, 57);
}

h2 {
    text-align: center;
}

.link {
    text-decoration: none;
}

p {
    font-size: 20px;
    text-align: justify;
    padding-right: 15px;
}