
.conquistas {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(136, 248, 132);
    padding-top: 40px;
    justify-content: space-around;
}

h2 {
    margin: 0;
    padding-top: 30px;
    background-color: rgb(136, 248, 132);
}

a {
    text-decoration: none;
    color: black;
}

p {
    text-align: center;
}