body{
    margin: 0 auto;
    width: 100%;
    height:100%;
    background-color: white;
    font-family: monospace;
    font-size: 1rem; 
    color: black;   
}

.menu_principal{
    width: 100%;   
    height: 62px;
}

main{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

nav{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo{
    float:left;
    padding: 16px;
    width: 20%;
}

.icone{
    width: 28px;    
}

.midias_sociais{
    width: 25%;
    float:right; 
    margin-left: 20px;      
}

.midias_sociais ul li{
    display: inline-block;    
    list-style: none;
    margin-top: 20px;  
    margin-left: 10px;
}

.header2{
    vertical-align: auto;
    background-color:rgb(206, 206, 206);        
    height: 32px;   
    border-bottom: 1px solid black;
    margin-top: 67px; 
}

.menu ul li{
    display: inline-block;     
    list-style: none;     
    margin-left: 5px;    
    font-size: 15px;
    text-align: center; 
    padding-top: 5px;    
}

.menu ul li a{
    font-weight: normal; 
    color: black;   
    text-decoration: black;    
}

.menu ul li a:hover{
    font-weight: bolder;
    color: blue;
    text-decoration-color: blue;        
    font-weight: bolder;
    border-bottom: 3px solid blue;
}

.menu ul li a:visited{
    font-weight: normal;
    color:black;
    text-decoration:black;
    
}

.busca{
    height: auto;
    font-size: 15px;
    margin-left: 60px; 
    border: 1px solid gray;   
}

.div_capa{
    margin-top: 40px; 
    width: 100%;  
}

.capa{    
    width: 100%;     
}

input{
    background-image: url(../img/search2.png);
    background-repeat: no-repeat;
    background-position: right;
}

footer{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

footer a{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}